volumes:
  books:
    driver: local
    external: false

networks:
  ldap_net:
    external: true

services:
  calibre-web:
    image: lscr.io/linuxserver/calibre-web:latest
    container_name: calibre-web
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
      - DOCKER_MODS=linuxserver/mods:universal-calibre
      - OAUTHLIB_RELAX_TOKEN_SCOPE=1
    volumes:
      - ./config:/config
      - books:/books
    networks:
      - ldap_net
    ports:
      - 127.0.0.1:8083:8083
    restart: unless-stopped
