- name: Set task locally the LDAP service name fact (used as variable)
  ansible.builtin.set_fact:
    ldap_service_name: "ldap"

- name: Include service role
  ansible.builtin.include_role:
    name: "service"
  vars:
    service_docker_compose: true
    service_systemd_service: true
    service_name: "{{ ldap_service_name }}"

- name: Copy ldap environment files
  ansible.builtin.template:
    src: ".env.j2"
    dest: "{{ base_dir }}/{{ ldap_service_name }}/.env"
    mode: "0640"
