- name: Include service role
  ansible.builtin.include_role:
    name: "meta_service"
  vars:
    meta_service_name: "theoboricafe"
    meta_service_fqdn: "{{ domain }}"
    meta_service_nginx_port: "3000"
    meta_service_docker_compose: true
    meta_service_systemd_service: true
    meta_service_certbot: false
    meta_service_nginx: true
    meta_service_tor: true
    meta_service_iocaine: true

- name: Personal website TLS certificate managed by certbot
  ansible.builtin.include_role:
    name: geerlingguy.certbot
  vars:
    certbot_install_method: package
    certbot_auto_renew: true
    certbot_auto_renew_user: "{{ ansible_user | default(lookup('env', 'USER')) }}"
    certbot_auto_renew_hour: "3"
    certbot_auto_renew_minute: "30"
    certbot_create_if_missing: true
    certbot_admin_email: "{{ certbot_email }}"
    certbot_use_staging: false
    certbot_create_extra_args: ""

    certbot_certs:
      - domains:
          - "{{ domain }}"
          - "www.{{ domain }}"
