- name: Include service role
  ansible.builtin.include_role:
    name: "meta_service"
  vars:
    meta_service_name: "private-bin"
    meta_service_fqdn: "bin.{{ domain }}"
    meta_service_nginx_port: "3004"
    meta_service_certbot: true
    meta_service_nginx: true
    meta_service_tor: true
    meta_service_docker_compose: true
    meta_service_systemd_service: true
