- name: Set the Nextcloud service name fact (used as variable)
  ansible.builtin.set_fact:
    nextcloud_service_name: "nextcloud"

- name: Include service role
  ansible.builtin.include_role:
    name: "meta_service"
  vars:
    meta_service_name: "{{ nextcloud_service_name }}"
    meta_service_fqdn: "cloud.{{ domain }}"
    meta_service_nginx_port: "8000"
    meta_service_certbot: true
    meta_service_nginx: true
    meta_service_tor: true
    meta_service_docker_compose: true
    meta_service_systemd_service: true

- name: Copy nextcloud environment file
  ansible.builtin.template:
    src: ".env.j2"
    dest: "{{ base_dir }}/{{ nextcloud_service_name }}/.env"
    mode: "0640"

- name: Create the Nextcloud log directory if not exists
  ansible.builtin.file:
    path: "{{ base_dir }}/{{ nextcloud_service_name }}/data"
    owner: 33
    group: 33
    state: directory
    mode: "0755"
