- name: Set task locally the Linkstack service name fact (used as variable)
  ansible.builtin.set_fact:
    linkstack_service_name: "linkstack"

- name: Include service role
  ansible.builtin.include_role:
    name: "service"
  vars:
    service_name: "{{ linkstack_service_name }}"
    service_fqdn: "links.{{ domain }}"
    service_nginx_port: "8880"
    service_certbot: true
    service_nginx: true
    service_tor: true
    service_docker_compose: true
    service_systemd_service: true

- name: Copy LinkStack environment file
  ansible.builtin.template:
    src: ".env.j2"
    dest: "{{ base_dir }}/{{ linkstack_service_name }}/.env"
    mode: "0640"
