- name: Set the Linkstack service name fact (used as variable)
  ansible.builtin.set_fact:
    linkstack_service_name: "linkstack"

- name: Include service role
  ansible.builtin.include_role:
    name: "meta_service"
  vars:
    meta_service_name: "{{ linkstack_service_name }}"
    meta_service_fqdn: "links.{{ domain }}"
    meta_service_nginx_port: "8880"
    meta_service_certbot: true
    meta_service_nginx: true
    meta_service_tor: true
    meta_service_docker_compose: true
    meta_service_systemd_service: true
    meta_service_iocaine: true

- name: Copy LinkStack environment file
  ansible.builtin.template:
    src: ".env.j2"
    dest: "{{ base_dir }}/{{ linkstack_service_name }}/.env"
    mode: "0640"
