- name: Set the monitoring service name fact (used as variable)
  ansible.builtin.set_fact:
    monitoring_service_name: "monitoring"

- name: Include service role
  ansible.builtin.include_role:
    name: "meta_service"
  vars:
    meta_service_name: "{{ monitoring_service_name }}"
    meta_service_docker_compose: true
    meta_service_systemd_service: true

- name: Copy Prometheus configuration file
  ansible.builtin.copy:
    src: "prometheus.yml"
    dest: "{{ base_dir }}/{{ monitoring_service_name }}/prometheus.yml"
    mode: "0644"
