services:
  db:
    image: mariadb:10.6
    restart: always
    command: --transaction-isolation=READ-COMMITTED --log-bin=binlog --binlog-format=ROW
    volumes:
      - db:/var/lib/mysql
    env_file:
      - .env
    networks:
      - nextcloud_net

  redis:
    image: "redis:alpine"
    restart: always
    command: redis-server --requirepass ${REDIS_HOST_PASSWORD}
    env_file:
      - .env
    volumes:
      - redis:/var/lib/redis
    environment:
      - REDIS_REPLICATION_MODE=master
    networks:
      - nextcloud_net

  app:
    image: nextcloud
    restart: always
    ports:
      - 127.0.0.1:8000:80
    volumes:
      - nextcloud:/var/www/html
      - ./data:/var/www/html/data/
    env_file:
      - .env
    environment:
      - MYSQL_HOST=db
      - REDIS_HOST=redis
    networks:
      - ldap_net
      - nextcloud_net

volumes:
  nextcloud:
  db:
  redis:

networks:
  ldap_net:
    external: true
  nextcloud_net:
