- name: Set the Gitea service name fact (used as variable)
  ansible.builtin.set_fact:
    gitea_service_name: "gitea"

- name: Include service role
  ansible.builtin.include_role:
    name: "meta_service"
  vars:
    meta_service_name: "{{ gitea_service_name }}"
    meta_service_fqdn: "git.{{ domain }}"
    meta_service_nginx_port: "3002"
    meta_service_docker_compose: true
    meta_service_systemd_service: true
    meta_service_certbot: true
    meta_service_nginx: true
    meta_service_tor: true
    meta_service_iocaine: true

- name: Create the Gitea log directory if not exists
  ansible.builtin.file:
    path: "{{ base_dir }}/{{ gitea_service_name }}/log"
    state: "directory"
    owner: "1000"
    group: "1000"
    mode: "0755"

- name: Copy Gitea environment file
  ansible.builtin.template:
    src: ".env.j2"
    dest: "{{ base_dir }}/{{ gitea_service_name }}/.env"
    mode: "0640"
