server {
  include listen-443;
  server_name {{ server_name }};

  client_max_body_size 512M;
  client_body_timeout 300s;
  client_body_buffer_size 512k;

  
  include ssl_params;
  ssl_certificate /etc/letsencrypt/live/{{ server_name }}/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/{{ server_name }}/privkey.pem;
  
  add_header Strict-Transport-Security "max-age=63072000" always;

  location = /.well-known/carddav {
    return 301 $scheme://$host/remote.php/dav;
  }

  location = /.well-known/caldav {
    return 301 $scheme://$host/remote.php/dav;
  }

  location / {
    include proxy_params;
    proxy_pass http://127.0.0.1:{{ server_port }}/;
  }
}
