- name: Set task locally the Etherpad service name fact (used as variable)
  ansible.builtin.set_fact:
    etherpad_service_name: "etherpad"

- name: Include service role
  ansible.builtin.include_role:
    name: "service"
  vars:
    service_name: "{{ etherpad_service_name }}"
    service_fqdn: "etherpad.{{ domain }}"
    service_nginx_port: "9001"
    service_certbot: true
    service_nginx: true
    service_tor: true
    service_docker_compose: true
    service_systemd_service: true

- name: Copy etherpad environment file
  ansible.builtin.template:
    src: ".env.j2"
    dest: "{{ base_dir }}/{{ etherpad_service_name }}/.env"
    mode: "0640"
