- name: Set the Etherpad service name fact (used as variable)
  ansible.builtin.set_fact:
    etherpad_service_name: "etherpad"

- name: Include service role
  ansible.builtin.include_role:
    name: "meta_service"
  vars:
    meta_service_name: "{{ etherpad_service_name }}"
    meta_service_fqdn: "etherpad.{{ domain }}"
    meta_service_nginx_port: "9001"
    meta_service_certbot: true
    meta_service_nginx: true
    meta_service_tor: true
    meta_service_docker_compose: true
    meta_service_systemd_service: true

- name: Copy etherpad environment file
  ansible.builtin.template:
    src: ".env.j2"
    dest: "{{ base_dir }}/{{ etherpad_service_name }}/.env"
    mode: "0640"
