[Unit]
Description=proxitok service
Requires=docker.service
After=docker.service

[Service]
Restart=on-failure

Environment=APP_URL='https://{{ fqdn }}'

WorkingDirectory=/usr/local/services/proxitok
ExecStart=docker compose up
ExecStop=docker compose down --remove-orphans

[Install]
WantedBy=multi-user.target
