[Unit]
Description=proxitok service
Requires=docker.service
After=docker.service

[Service]
Restart=on-failure

Environment=DOCKERCOMPOSEFILE=docker-compose.proxitok.yml
Environment=APP_URL='https://{{ fqdn }}'

WorkingDirectory=/usr/local/services
ExecStart=docker compose -f ${DOCKERCOMPOSEFILE} up --remove-orphans
ExecStop=docker compose -f ${DOCKERCOMPOSEFILE} down

[Install]
WantedBy=multi-user.target