services:
  duplicati:
    container_name: duplicati
    image: lscr.io/linuxserver/duplicati:latest
    restart: unless-stopped
    ports:
      - "127.0.0.1:8200:8200"
    volumes:
      - "./config:/config"
      - "./backups:/backups"
      - "/:/source"
    environment:
      - PUID=0
      - PGID=0
      - TZ=Etc/UTC
